@import "tailwindcss";

.m12u-markdown {
  h1,
  h2,
  h3 {
    font-weight: bold;
    margin-top: --spacing(12);
  }

  h3 {
    color: var(--color-slate-600);
  }

  > h1:first-of-type {
    margin-top: 0;
    margin-bottom: --spacing(12);
  }

  p {
    margin-top: --spacing(4);
  }

  a {
    color: var(--color-blue-700);
    text-underline-offset: 2px;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    padding-left: --spacing(4);
    border-left: 4px var(--color-slate-300) solid;
    color: var(--color-slate-600);
    font-style: italic;
  }

  hr {
    margin: --spacing(12) 0;
    border-color: var(--color-slate-300);
  }

  ul,
  ol {
    padding-inline-start: --spacing(6);
    list-style-type: disc;
    margin-top: --spacing(4);

    ul,
    ol {
      margin-top: 0;
    }
  }

  ol {
    list-style-type: decimal;
  }

  li::marker {
    color: var(--color-slate-500);
  }

  pre {
    margin-top: --spacing(4);
    overflow-x: auto;
    font-size: var(--text-sm);
    background-color: var(--color-blue-950);
    color: var(--color-blue-50);
    padding: --spacing(4);
    border-radius: var(--radius-xl);
  }

  p,
  li {
    code {
      font-size: var(--text-sm);
      background-color: var(--color-slate-100);
      font-weight: bold;

      &::before,
      &::after {
        content: "`";
      }
    }
  }
}
